.base{
    -fx-background-color: #aaf0d1;
}

.base HBox LineChart {
    -fx-background-color: #4472C4;
}

.base HBox LineChart NumberAxis {
    -fx-tick-label-fill: black;
}

.chart-content {
    -fx-padding: 35px;
}

.graph .chart-series-line {
    -fx-stroke-width: 4px;
    -fx-effect: null;
    -fx-stroke: #6f9dea;
}

.graph .chart-series-line:hover {
    -fx-stroke-width: 6px;
    -fx-stroke: #ffa601;
}

.graphAlt .chart-series-line:hover {
    -fx-stroke-width: 6px;
}

.chart-line-symbol {
    -fx-scale-x: 1.25;
    -fx-scale-y: 1.25;
}

.graph .chart-line-symbol:hover{
    -fx-scale-x: 1.6;
    -fx-scale-y: 1.6;
    -fx-background-color: #ffa601;
}

.graphAlt .chart-line-symbol:hover{
    -fx-scale-x: 1.6;
    -fx-scale-y: 1.6;
}

.graph .default-color0,
.graph .default-color1,
.graph .default-color2,
.graph .default-color3,
.graph .default-color4,
.graph .default-color5,
.graph .default-color6 {
    -fx-background-color: #4472C4;
}

/*.graphAlt .default-color0{*/
/*    -fx-background-color: #000710;*/
/*}*/
/*.graphAlt .default-color1{*/
/*    -fx-background-color: #003f5c;*/
/*}*/
/*.graphAlt .default-color2{*/
/*    -fx-background-color: #2f4b7c;*/
/*}*/
/*.graphAlt .default-color3{*/
/*    -fx-background-color: #665191;*/
/*}*/
/*.graphAlt .default-color4{*/
/*    -fx-background-color: #a05195;*/
/*}*/
/*.graphAlt .default-color5{*/
/*    -fx-background-color: #d45087;*/
/*}*/
/*.graphAlt .default-color6{*/
/*    -fx-background-color: #f95d6a;*/
/*}*/
/*.graphAlt .default-color7{*/
/*    -fx-background-color: #ff7c43;*/
/*}*/
/*.graphAlt .default-color8{*/
/*    -fx-background-color: #ffa600;*/
/*}*/
/*.graphAlt .default-color9{*/
/*    -fx-background-color: #c8ff00;*/
/*}*/
/*.graphAlt .default-color10{*/
/*    -fx-background-color: #57c444;*/
/*}*/

.notificationBar {
    -fx-background-color: #FFFF05;
}

.sideBar {
    -fx-background-color: #68C799;
}

.sideBar Button{
    -fx-background-color: #4D6666;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
}

.sideBar Button:hover{
    -fx-background-color: #88AB6B;
    -fx-text-fill: black;
}

.sideBar Button:disabled{
    -fx-background-color: #88AB6B;
    -fx-opacity: 100%;
    -fx-text-fill: black;
}

.tabPane {
    /*-fx-background-color: #94B772;*/
    /*-fx-border-radius: 60px;*/
    /*-fx-background-radius: 60px;*/
    -fx-tab-min-width: 100px;
    -fx-tab-min-height: 40px;
}

.tabPane .tab-header-area .tab-header-background{
    -fx-opacity: 0;
}

.tabPane .parentTab {
    -fx-background-color: #4D6666;
    -fx-background-insets: 0 1 0 1, 0, 0;
}

.tabPane .parentTab-label{
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.tabPane .parentTab:selected .tab-label{
    -fx-text-fill: black;
}

.tabPane .parentTab:selected{
    -fx-background-color: #7e9d9d;
}

.tabPane .tab-content-area{
    -fx-background-color: #7e9d9d;
    -fx-background-radius: 10 60 60 60;
    -fx-border-radius: 10 60 60 60;
    -fx-padding: 20px;
}

.nutritionTabPane .tab-content-area{
    -fx-background-color: #7e9d9d;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-padding: 0;
}

.nutritionTabPane {
    -fx-background-color: lightgrey;
    -fx-background-radius: 5 33 0 0;
    -fx-background-insets: 0 1 0 1, 0, 0;
}

.tabPane .goalScrollPane {
    -fx-background-color: #7e9d9d;
}

.ourGoalsVbox {
    -fx-font-size: 16;
}

.goalsHboxOdd {
    -fx-background-color: #68C799;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
    -fx-font-size: 16;
    -fx-padding: 5 5 5 5;
    -fx-border-width: 2 2 2 2;
    -fx-alignment: center;
}

.goalsHboxEven {
    -fx-background-color: #88AB6B;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
    -fx-font-size: 16;
    -fx-padding: 5 5 5 5;
    -fx-border-width: 2 2 2 2;
    -fx-alignment: center;
}

.centerLabel {
    -fx-text-alignment: center;
}

.groupNode {
    -fx-background-color: white;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}

.graph {
    -fx-background-radius: 40px;
    -fx-border-radius: 40px;
}

.cycleWeekBox {
    -fx-background-color: #4472C4;
    -fx-background-radius: 0 0 18 18;
    -fx-border-radius: 0 0 18 18;
}

.graph {
    -fx-background-radius: 40px;
    -fx-border-radius: 40px;
}

.cycleWeekBox {
    -fx-background-color: #4472C4;
    -fx-background-radius: 0 0 18 18;
    -fx-border-radius: 0 0 18 18;
}
